#status .box-body {
  font-size: 2em;
}

#row2 .box-body {
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 208px;
}

#row2 tr td {
  padding: 0.3em;
}

.content-header {
  font-size: 2em;
}

.box-header .fa,
.box-header .hidden-sm.hidden-xs {
  font-size: 2em;
}

.fa.fa-search:not(button) {
  color: #337ab7;
  cursor: pointer
}

#row3 .box-body {
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 208px;
}
